.detes{
    height: 90vh;
    color: white;
}
.recomds{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 100px;
    flex-wrap: wrap;
    gap: 100px;
    color: white;
}
#remdstext{
    position: absolute;
    top: 1%;
    left: 5%;
    font-size: 20px;
}
.menuinner{
    color: white;
}