.revsectin{
    color: white;
    border: 4px solid  grey;
    padding: 25px;
    width: 350px !important;
border-radius: 20px;
margin-top: 50px;
transition: all 0.5s;
cursor: pointer;
scale: 1;

}
.revsectin:hover{
}
.revsectin > div:nth-child(1){
    font-family: harabara;
    font-size: 30px;
    letter-spacing: 1px;
}
.revsectin > p{
opacity: 0.9;
font-family: sans-serif;
}
.ratingrv{
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 5px;
}
.rvsec2{
display: flex;
flex-direction: row;
gap: 10px;
    
  }
  .rvsec2 > svg{
    opacity: 0.5;
    cursor: pointer;
  }
  .rrehsvg{
display: flex;
  }
  .rvsec3{
    display: flex;
    gap: 50px;
    flex-direction: row;
   
  }
