.revsectin{
    color: white;
    border: 4px solid  grey;
    padding: 25px;
    width: 22vw !important;
border-radius: 20px;
margin-top: 50px;
transition: all 0.5s;
cursor: pointer;
scale: 1;


}
.revsectin:hover{
}
.revsectin > div:nth-child(1){
    font-family: harabara;
    font-size: 30px;
    letter-spacing: 1px;
}
.revsectin > p{
opacity: 0.9;
font-family: sans-serif;

}
.ratingrv{
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 5px;
}
.rvsec2{
display: flex;
flex-direction: row;
gap: 5px;
    
  }
  .rvsec2 > svg{
    opacity: 0.5;
    cursor: pointer;
  }
  .rrehsvg{
display: flex;
  }
  .rvsec3{
    display: flex;
    gap: 30px;
    flex-direction: row;
   flex-wrap: wrap;
   padding: 10px;

  }
#overlayforreview{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;

  z-index: 9999999;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;
  gap: 10px;

}
#paraofcontentrev{
  color: white;
  height: auto;
  max-width:80%;
}
#overlayforreview > svg { 
  position: absolute;
  left: 90%;
  top: 10%;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  

}
#ratingrevoverlay{
  color: white;
}
#overlayforreview > svg:hover{
  rotate: 180deg;
}
 






/* Review box starts here */
#close-revbox{
  position: absolute;
top:10%;
right: 10%;
scale: 1;
cursor: pointer;

}

#rev-box{
  opacity: 0;
  position: fixed;
  height: 400px;
  width: 500px;
  background-color: black;
  z-index: 12;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  color: white;
  font-family: "Montserrat";
  padding: 50px;
  animation: upupRevBox 0.5s both;
}
@keyframes upupRevBox {
  0%{
top: 60%;
opacity: 0;

  }
  100%{
    top: 50%;
    opacity: 1;
  }

}
@keyframes downdownRevBox {
  0%{
top: 50%;
opacity: 1;

  }
  100%{
    top: 60%;
    opacity: 0;
  }

}
#revbox-sendsvg{
  position: absolute;
  top: 80%;
  right: 8%;
  cursor: pointer;
}
#revbox-sendsvg:hover{
  fill: yellow;
}