.wholeweb {
  height: 100vh;
  width: 100%;
  color: white;
}
.header {
  position: relative;
  height: 10%;
  width: 100%;
  display: flex;

  justify-content: space-between;

}
.header::after {
content: '';
height: 1px;
width: 100%;
position: absolute;
top: 110%;
background-color: red;
box-shadow: 0 0 10px 1px red;
opacity: 0.5;
}
#logo1 {
  height: 100%;
  width: auto;
  padding-left: 100px;
  /* filter: drop-shadow(5px 5px 5px red); */
}
#listp {
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  gap: 50px;
  padding-right: 100px;
  height: 100%;
  align-items: center;
}
#listp > div {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
#listp > div:not(:last-child)::after {
  position: absolute;
  height: 1px;
  top: 110%;
  width: 0%;
  content: "";
  background-color: red;
  transition: all 0.5s;
  box-shadow: 0 0 10px 1px red;

}
#listp > div:not(:last-child):hover::after {
  width: 100%;

}
#signinbt {
  height: 4vh;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: red;
  box-shadow: 0 0 10px 1px red;
}
.darkcorner{
  position: absolute;
  top: 10%;
  left: 0;
  z-index: -1;
height: 90%;

width: 100%;
}
.darkcorner::before,
.darkcorner::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
  pointer-events: none;
   z-index: 1;
}

#bgimg{

height: 100%;
width: 100%;
object-fit: cover;

}
.detes{
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  padding-left: 100px;
}
.detes >div > h1{
font-size: 60px;
margin: 0;

}
.detes >div > p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 27px;
  font-weight:lighter;
  opacity: 0.8;
}
.ratin > svg{
  filter: drop-shadow(0px 3 zpx 5px red);
}
.btlist{
  display: flex;
  gap: 20px;
  padding-top:30px;
}
#viewbt{
  height: 5vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: red;
  box-shadow: 0 0 10px 1px red;
  font-size: 20px;
  cursor: pointer;;
}
#watchbt{
  height: 5vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: RGB(41,156,224);
  box-shadow: 0 0 10px 1px RGB(41,156,224);
  font-size: 20px;
  cursor: pointer;

}
.secpage{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.trndingpage{
  margin-top: 100px;
  height: 50%;
}
#trenheader{
  height: 20%;
  display:flex ;
  align-items: center;
  gap: 20px;
  font-size: 45px;
  font-family: system-ui;
  padding-left: 100px;

}
#trengallary{

  height: 400px;
  width: 200px;
  font-family: system-ui;
  
}
#trengallary > img{
height: 75%;
width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.trndetes{
  display: flex;
 
  height: 10%;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
#listcon{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#year{
  opacity: 0.5;
}
#starstrn{
  display: flex;
  align-items: center;
  gap: 5px;
}
.trenlist{
  padding-top: 50px;
  padding-left: 50px;
}
.trenlist{
  display: flex;
  gap: 100px;
  flex-direction: row;
  -webkit-overflow-scrolling: touch;
scroll-behavior: smooth;
}
.trenlist>div{
  cursor: pointer;  
}
.overlay{
  position: fixed;
  background-color: black;
  height: 0vh;
  width: 100%;
transition: all 0.5s;
top: 0;
left: 0;
z-index: 2;
}
.extendoverlay{
 
  height: 60vh;
  z-index: 2;
}

.ovapart1{
  cursor: pointer;
position: absolute;
left: 110%;
top: 30%;


opacity: 0.5;
}
.ovapart1 {
  background-color: black;
  border-radius: 15px;
  transition: all 0.5s;
  z-index: 5;

}
.ovapart1:hover{
  rotate: 90deg;
  
}
.overlayinner{
height: 100%;
width: 100%;

display: flex;
flex-direction: column;

}
.ovainput{
position: relative;
display: flex;
align-items: center;
height: 100%;
justify-content: center;
width: 100%;
flex-direction: column;
}
.ovainput>div>input{
  border: none;
  height: 100px;
  width: 350px;
  font-size: 18px;
  background-color: black;
  color: white;
outline: none;

}
.ovainput>div{
  position: relative;
}
.ovainput>div:after{
position: absolute;
height: 1px;
width: 100%;
top: 80%;
left: 0%;
content: '';
background-color: red;
box-shadow: 0 0 10px 1px red;


}
.displaysearch{
width:100%;
height: 60%;
display: flex;
align-items: center;
justify-content: center;
}
.searchdisplay{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 50%;
  height: 90%;
}