.wholeweb {
  position: relative;

  height: 100vh;
  width: 100%;
  color: white;
  overflow-x: hidden;
  transition: opacity 0.3s;

}
body{
  margin: 0px !important;
}
::selection {
  background-color: grey;
}

#wdom{
  transition: opacity 0.35s;
}



/* MOBILE LAYOUT STYLES */

.mdetes {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: sans-serif;

  color: white;
  gap: 15px;
}
#mtitle {
  font-family: harabara;
  font-size: 40px;
  letter-spacing: 2px;
  flex-wrap: wrap;
  word-wrap: break-word; /* This property breaks long words and wraps them onto the next line */
  text-align: center;
}
#mdms {
  display: flex;
  gap: 10px;
  font-size: harabara;
}
#mpw {
  display: flex;
  gap: 10px;
}
#mplaybt {
  height: 40px;
  width: 160px;
  background-color: #282424;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#mplaybt > svg {
  rotate: 90deg;
  transition: all 0.5s;
}
#mplaybt:hover > svg {
  scale: 0.8;
}
#mwishlistbt {
  height: 100%;
  width: 50px;
  border-radius: 10px;
  background-color: #282424;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#mwishlistbt > svg {
  transition: all 0.5s;
}
#mwishlistbt:hover > svg {
  rotate: 180deg;
}

.wholeweb::-webkit-scrollbar {
  width: 0em;
}

.wholeweb::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.wholedivofmoviedetes {
  overflow: hidden;
  overflow-y: hidden;
}
.header {
  position: relative;
  height: 10%;
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.header1 {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 2;
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: space-between;
}
.header1main {
  position: absolute;
  top: -10%;
  left: 0px;
  z-index: 2;
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: space-between;
  transition: all 0.5s 0.5s;
}
.tmfont {
  font-size: 25px;
}
#starbord {
}
#logo1 {
  opacity: 0;
  position: relative;
  top: 20px;
  left: 0;
  height: 50px;
  width: auto;
  padding-left: 100px;
  /* filter: drop-shadow(5px 5px 5px red); */
  padding-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
  animation: imoutiga 2s 5s both;
}
@keyframes imoutiga {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    opacity: 0;
    pointer-events: none;

  }
}

#logo1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.falldwnani {
  top: 20px;
  left: 0;
  height: 50px;
  width: auto;
  padding-left: 100px;
  /* filter: drop-shadow(5px 5px 5px red); */
  padding-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
  animation: falldown 2s both;
}
@keyframes falldown {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
#listp {
  padding-top: 20px;
}
.options {
  position: fixed;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-right: 50px;
  filter: drop-shadow(0px 0px 0.8px black);
  top: -100px;
  border-radius: 10px;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  right: 10px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s;
}

.options > .line {
  width: 55%;
  height: 1px;
  background-color: white;
  z-index: -1;
  transition: all 0.5s;
}

.opexpand {
  position: absolute;
  height: 105%;
  width: 0px;
  right: -1px;
  background-color: black;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.opexpand > svg {
  cursor: pointer;
  transition: all 0.5s;
}
.opexpand > svg:hover {
  transform: scale(1.2);
}
#signinbt {
  height: 4vh;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: red;

  box-shadow: 0 0 10px 1px red;
}
.darkcorner {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  height: 100%;

  width: 100%;

}
.darkcorner::before,
.darkcorner::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;

background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, transparent 100%);


 /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
*/
/*
background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 15%, transparent 100%);
*/

}

.mainwrapper > :nth-child(1) {
  height: 100vh;
  
}
#bgimg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  opacity: 1;
  animation: fadedout linear;
  animation-timeline: view();
  animation-range: exit 0px;
  animation: opacity123123123 0.3s  both 0.3s;
}
@keyframes opacity123123123 {
  0%{
    opacity: 0;

  }
  100%{opacity: 1 }
}

@keyframes fadedout {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    /*scale: 3;*/
  }
}

.detes {
  height: 110vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  padding-left: 5.2vw;
  color: white;
  scale: 1;
  
}

@font-face {
  font-family: "Harabara";
  src: url("./assets/Harabara.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.detes > div > h1 {
  letter-spacing: 1px;
  margin: 0;
  font-family: "Harabara", sans-serif; /* Use your font for the entire website or specific elements */
}

#moviedetes1 {
  font-family: sans-serif;
  font-size: 0.9vw;
  font-weight: lighter;
  opacity: 0.86;
  padding-bottom: 0px;
  padding: 10px;
  margin-bottom: 2vw;
  margin-top: 0;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
.ratin > svg {
  filter: drop-shadow(0px 3 zpx 5px red);
}
.detes > div > h1 {
  font-size: 3vw;
  margin: 0;
  font-family: "Harabara", sans-serif; /* Use your font for the entire website or specific elements */
  padding-bottom: 2vw;
}
.detesdetes1 {
  height: 30px;
  width: 600px;
  padding-bottom: 2vw;
  display: flex;
  gap: 20px;
}
#imdbrating {
  display: flex;
  height: 100%;
  margin: 0;
}
#imdbrating > div {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  font-size: 19px;
  align-items: center;
}

#randommyear {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 19px;
}
#randomm18 {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 19px;
}

.btlist {
  display: flex;
  gap: 20px;
}
#viewbt {
  height: 6vh;
  width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9vw;
}
#watchbt {
  height: 6vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  font-size: 0.9vw;
  cursor: pointer;
  gap: 5%;
  font-weight: bold;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.5s;
}
#alreadywatchbt{
  height: 6vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  
  font-size: 0.9vw;
  cursor: pointer;
  gap: 5%;
  font-weight: bold;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.5s;
}
#alreadywatchbt > div{
  width: 6vh;
  height: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
}
#splaybt{
  height: 6vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 0.9vw;
  cursor: pointer;
  gap: 5%;
  font-weight: bold;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.5s;
  
}
#splaybtsvg{
  transition: fill 0.5s;
}

#watchbt2 {
  transition: fill 0.5s;
}
                    #watchbt:hover > #watchbt2{
                  fill: black;
                  } 
#watchbt:hover{
  background-color: white;
  color: black;
}
#alreadywatchbt:hover{
  background-color: white;
  color: black;
}
#alreadywatchbt:hover  > svg{
  
  fill: black;
}
            #splaybt:hover > #splaybtsvg {
                fill: black;
              }
#splaybt:hover{
  background-color: white;
  color: black;
}

#remindmebt {
  height: 6vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  font-size: 0.9vw;
  cursor: pointer;
  gap: 5%;
  font-weight: bold;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#mmediaImages{
opacity: 1;
transition: opacity 0.3s;
}
#remindmebt > svg {
  transition: all 0.2s;
}
#remindmebt:hover > svg {
  animation: bellring 0.5s linear;
}
@keyframes bellring {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#remindnotifycard {
  top: -20%;
  position: fixed;
  background-color: black;
  height: 25px;
  border-radius: 10px;

  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  transition: all 0.5s;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000000000000000000000000;
}
#uppercard{
  top: -20%;
  position: fixed;
  background-color: black;
  height: 25px;
  border-radius: 10px;

  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  transition: all 0.5s;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000000000000000000000000;
}
.animationdrag {
  animation: dragitupdown 3s both;
}
@keyframes dragitupdown {
  0% {
    top: -20%;
  }
  30% {
    top: 5%;
  }
  60% {
    top: 5%;
  }
  100% {
    top: -20%;
  }
}

.secpage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.trndingpage {
  margin-top: 100px;
  height: 50%;
}
#trenheader {
  height: 20%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 45px;
  font-family: system-ui;
  padding-left: 100px;
}
#trengallary {
  height: 400px;
  width: 200px;
  font-family: system-ui;
  cursor: pointer;
  transition: all 0.5s;
}
#trengallary > div {
  position: relative;
  transition: all 0.5s;
  z-index: 00;
}
#tdots {
  opacity: 0;
  position: absolute;
  top: 9px;
  
  left: 85%;
  transition: opacity 0.2s;
  filter: drop-shadow(0px 0px 1px black);

}
.swipercardwrapper {
  z-index: 0;
}
.swipercardwrapper > :nth-child(1) {
  z-index: -1;
  display: flex;
  padding-left: 150px;
}
#trengallary > div > img {
  height:auto;
  width: 110%;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.5s;
  z-index: 1;
  cursor: pointer;
}

.ov1box > #trengallary:hover > #outimg {
  scale: 1.4;
  z-index: 1;
}

#trengallary:hover > div > svg {
  opacity: 1;
}
.trnbox {
  padding-top: 50px;
}
.trndetes {
  display: flex;
  opacity: 1;
  height: 10%;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 0;
  color: white;
}

#listcon {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#year {
  opacity: 0.5;
  z-index: 1;
}
#starstrn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.trenlist {
  margin-top: 50px;

  width: 100vw;
  z-index: -1;
}



  .mdplaylist{
    position: fixed;
    top: 60%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    z-index: 1111111111;
    width: 400px;
    background-color: black;
    color: white;
    font-family: "Montserrat";
    border-radius: 10px;
    padding: 50px;
    transition: all 0.5s;
animation: upupupup12 0.5s both;
  }
  @keyframes upupupup12 {
    0%{
      top: 60%;
    opacity: 0;
    }
    100%{
      top: 50%;
      opacity: 1;
    }
  }
  @keyframes upupupup13 {
    0%{
      top: 50%;
    opacity: 1;
    }
    100%{
      top: 60%;
      opacity: 0;
    }
  }
  .mdplaylist{
    top: 50%;
    opacity: 1;
  }
  .mdpltwo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  }
  .mdpltwo > div{
    cursor: pointer;
    transition: color 0.3s;
  }
.mdpltwo > div:hover{
  color: yellow;
}



.trenlist {
  display: flex;
  flex-direction: row;
}
.trenlist > div {
  cursor: pointer;
}
.opexpand > svg{
  transition: all 0.3s; 
  border-radius: 50%;
  scale:1 !important;
  padding: 5px;
  margin-left: -5px;
  pointer-events: none;
}
.opexpand  > svg:hover{
  fill: black;
  background-color: white;
}
.overlay {
  position: absolute;
  background-color: black;
  height: 0vh;
  width: 100%;
  transition: all 0.5s;
  top: 0;
  left: 0;
  z-index: 3;
}
@keyframes reveal {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
@keyframes downslow {
  0% {
    height: 0vh;
  }
  20% {
    height: 20vh;
  }
  60% {
    height: 30vh;
  }
  80% {
    height: 100vh;
  }
  100% {
    height: 300vh;
  }
}
.extendoverlay {
  height: 60vh;
  z-index: 2;
}

.ovapart1 {
  cursor: pointer;
  position: absolute;
  left: 110%;
  top: 30%;

  opacity: 0.5;
}
.ovapart1 {
  background-color: black;
  border-radius: 15px;
  transition: all 0.5s;
  z-index: 5;
}
.ovapart1:hover {
  rotate: 90deg;
}
.overlay1 {
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100%;
  transition: all 0.5s;
  top: 0;
  left: 0;
  z-index: 2;
}

.overlay1inner {
  height: 100%;
  width: 100%;
}
.ov1ih1 {
  height: 10%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.userReviews {
  height: 300px;
  width: auto;
  border-radius: 10px;
  border: grey solid 1px;
  margin: 100px;
  display: flex;
  align-items: center;
  color: white;
}
.userRevImageCon {
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#userRevImageUrl {
  height: 80%;
  width: auto;
  border-radius: 10px;
}
.userRevDetes {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mylisth1 {
  position: relative;
  top: -200px;
  transition: all 0.5s;
  pointer-events: none;
  color: white;
  cursor: pointer;
  font-size: 40px;
  transition: all 0.5s;
}

#mylisth1:hover {
}
#btswithces {
  position: relative;
  top: -200px;
  transition: all 0.5s;
}
.ov1ih1 > svg {
  cursor: pointer;
}
.overlayinner {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
}
.ov1box {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px;
  justify-content: center;
}
.ovainput {
  position: relative;
  display: flex;
  align-items: center;
  height: 50vh;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.ovainput > div > input {
  border: none;
  height: 100px;
  width: 350px;
  font-size: 18px;
  background-color: black;
  color: white;
  outline: none;
}
.ovainput > div {
  position: relative;
}
.ovainput > div:after {
  position: absolute;
  height: 1px;
  width: 100%;
  top: 80%;
  left: 0%;
  content: "";
  background-color: red;
  box-shadow: 0 0 10px 1px red;
}
.displaysearch {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.searchdisplay {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#menu {
  height: 100vh;
  width: 00vw;
  background-color: black;
  position: fixed;
  right: 0%;
  top: 0%;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  font-size: 19px;
  font-weight: bold;
  font-family: harabara;
}

.menuinner {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  gap: 100px;
}
#menu > div {
  cursor: pointer;
}
.sbt {
  position: relative;
}
.sbt::after {
  position: absolute;
  top: 100%;
  display: flex;
  content: "";
  height: 1px;
  width: 0%;
  background-color: wheat;
  transition: all 0.5s;
}

.sbt:hover::after {
  content: "";
  position: absolute;

  display: flex;
  height: 1px;
  width: 50px;
  background-color: white;
  transition: all 0.5s;
}
#close1 {
  position: absolute;
  top: 10%;

  cursor: pointer;
}
#close {
  position: absolute;
  top: 10%;
  left: 95%;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}
#close:hover {
  rotate: 90deg;
}
.carousal {
  position: absolute;
  left: 85%;
  top: 32%;
  height: 100px;
  width: 200px;
}
#imgcard {
  border-radius: 20px;
}
.recomds {
}
.genres {
  display: flex;
  gap: 10px;
  padding-bottom: 2vw;
}
.genrebt {
  padding: 7px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: normal;
  font-weight: bold;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Revsec {
  height: auto;
  width: 100vw;
  padding: 100px;
  font-family: sans-serif;
}
.Revsec > h1 {
  color: white;
  font-size: 50px;
  font-family: harabara;
  padding: 0px;
}
.btmvser {
  display: flex;
  position: absolute;
  top: 34%;
  left: 110%;
  gap: 10px;
  font-family: sans-serif;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.5;
}
.btmvser > div {
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
  color: white;
}
#mvbt {
  background: white;
  color: black;
  cursor: pointer;
}
#progressbar {
  height: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  background: black;
  border-radius: 30px;
  margin: -20px 0 0 -100px;
  padding: 2px;
}
#loading {
  transition: all 500ms ease;
  height: 20px;
  width: calc(100% - 10px);
  border-radius: 10px;
  background: white;
  position: absolute;
  margin: 3px;
  display: inline-block;
  animation: load 5s ease infinite;
}
#load {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;
}

@keyframes load {
  0% {
    width: 2%;
  }
  10% {
    width: 10%;
  }
}
.checksvg {
  position: absolute;
  opacity: 0;
  padding: 5px;
  filter: drop-shadow(0px 0px 1px black);



}
#loading123333333{
  transition: color 0.1s ;
fill: white;
  animation: loadinganimation123 0.5s ease infinite;

}
#watchbt:hover > #loading123333333{
fill: black ;
}
@keyframes loadinganimation123 {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}
.checksvg:hover {
  fill: gold;
}
#addtoplaylist{
  height: 0px;
  width: 120px;
  position: absolute;
  top: 2px;
  left: 5px;
  background-color: transparent;
  transition: all 0.35s;
  border-radius: 10px;
  border-top: 10px;
color: transparent;
font-size: 12px;
padding: 20px;
text-wrap: nowrap;
display: flex;
flex-direction: column;

pointer-events: none;
user-select: none;

}
#closeadtoplaylist{
  position: relative;
  
  padding: 5px;
  top: -15px;
  left: -20px;
  rotate: 45deg;
  transition: rotate 0.5s;
}

@keyframes close212312312 {
  0%{
    rotate: 90deg;

  }
  50%{
    rotate: 45deg;

  }
  100%{
    rotate:45deg;
    fill: transparent;
  }
}
.pllayer1{
  height: 10%;
  
}
.pllayer2{
  padding-top: 15px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
@keyframes plaanimation {
  0%{
    height: 0px;
  }
  100%{
    height: 50px;
    opacity: 1;
    background-color: black;
    pointer-events: all;
    color: white;
  }
}
@keyframes plaanimationbackup {
  0%{
    height: 50px;
    opacity: 1;
    background-color: black;
    pointer-events: all;
    color: transparent;
    fill: transparent;
  }
  100%{
height: 0px;
pointer-events: none;
color: transparent;
fill: white;

  }
}

.asda{
  transition: color 0.1s;
}
.asda:hover{
  color: yellow;
}
.playlistadd{
  position: absolute;
  opacity: 0;
  left: 5px;
  top: 6px;
  padding: 5px;
  fill: white;
  rotate: 45deg;
  filter: drop-shadow(0px 0px 1px black);

}
.rvmybox {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  left: 0;
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999000;
  /*color: white; */
}
#imgofinnerbox {
  position: absolute;
  height: 500px;
  margin-left: 500px;
}
.innerrvbox {
  height: 500px;
  width: 500px;
  display: flex;
  background-color: black;
  z-index: 10;
  border-radius: 15px;
  position: fixed;

  flex-direction: column;
}
#ratinguser {
  height: 30%;
  padding-left: 50px;
  padding-top: 50px;
}
.ratinguserinner {
}
.ratinguserinner > svg {
  
  cursor: pointer;
}
.star-rating .star {
  font-size: 30px; /* Adjust this value to change the size of the stars */
  line-height: 20px; /* Adjust this value to change the space between lines */
}
.star-rating{
  padding: 0px !important;
  padding-top: 10px !important;
}
#reviewuser {
  height: 70%;
  padding-left: 50px;
  padding-top: 50px;
}
#myrvboxclose {
  padding: 10px;
  position: absolute;
  left: 90%;
  top: 0;
  cursor: pointer;
}
#rvinput {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}
#rvinput > textarea {
  height: 50%;
  width: 80%;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  border: none;
  resize: none; /* Disable resizing */
  border: none; /* Remove the border */
  outline: none;
  color: white;
}

.star-rating {
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row-reverse;
  font-size: 35px;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  border: none;
}

.star-rating input {
  display: none;
  border: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}

/* explanation */

article {
  background-color: #ffe;
  box-shadow: 0 0 1em 1px rgba(0, 0, 0, 0.25);
  color: #006;
  font-family: cursive;
  font-style: italic;
  margin: 4em;
  max-width: 30em;
  padding: 2em;
}

.sendsymbol {
  position: absolute;
  top: 90%;
  left: 90%;
  cursor: pointer;
}

.seasonssection {
  height: 50vh;
  color: white;
  padding: 100px;
  padding-top: 0px;
  font-family: sans-serif;
}
.seasonssection > h1 {
  font-size: 50px;
  font-family: harabara;
}
.recommds_list > div {
  opacity: 0;
}
.ss {
  color: white;
}
#closemylist {
  scale: 1.5;
  cursor: pointer;
  transition: transform 0.5s;
}
#closemylist:hover {
  transform: rotate(180deg);
}
.seasonsarray {
  display: flex;
  gap: 100px;
  display: flex;
  padding-top: 30px;
  
}
.seasonsarray > div{
  padding-left: 10px;
}
.saih1 {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  width: 200px;
}
.saimgs {
  height: 300px;
  border-radius: 5px;
  transition: all 0.5s;
}
.notimgs{
height: 300px;
width: 220px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(255, 255, 255, 0.362);
opacity: 0.5;
margin-left: -10px;
border-radius: 10px;

}
.notimgs > svg{
  opacity: 0.7;
  transition: opacity 0.3s;
}
.notimgs::after{
  content: 'not available';
  position: absolute;
  top: 60%;
  opacity: 0;
  transition: opacity 0.3s;
}
.notimgs > svg:hover,.notimgs:hover:after{
  opacity: 1;
}
.saimgs:hover {
}

.displaylist {
  color: white;
}
.wishlistbtms {
  color: white;
  font-family: sans-serif;
  display: flex;

  border: 1px solid white;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
}
.wishlistbtms > div {
  padding: 10px;
  transition: color 0.5s;
  border-radius: 9.5px;

  font-size: 19px;
}
#moviebt {
  background: white;
  color: black;
}

.mediasection {
  height: 50vh;
  width: 100vw;
}
.arrayofimgsback {
  height: 35vh;
  width: 70vw;
  display: flex;
  gap: 10px;
  position: relative;
  align-self: flex-start;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.arrayofimgsback > img {
  transition: all 0.5s;
  z-index: 1;
  max-width: 30vw;
  height: 300px;
  object-fit: cover;
}
.arrayofimgsback > img:hover {
}
.mediainner {
  display: flex;
}
.arrayofimgsback > div {
  height: 100%;
  width: 100px;
  color: white;

  font-family: sans-serif;
  cursor: pointer;
  opacity: 0.5;
}
.mediasection {
  color: white;

  display: flex;
  flex-direction: column;
}
#mediapointer {
  padding-bottom: 50px;
  font-family: harabara;
  font-size: 50px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
}
.wholemedia {
  color: white;
  padding: 100px;
}
.keywords {
  font-family: harabara;

  display: flex;
  gap: 10px;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.keysandcredits {
  position: relative;
  max-width: 30vw;
  display: flex;
  align-items: center;
  padding-right: 5vw;

  justify-content: center;
}
/*.keysandcredits::after{
  position: absolute;
  content: 'Keywords';
  font-family: harabara;
  font-size: 45px;
  
  top: 0;
  left: 30%;
}*/
.keysandcredits > :nth-child(1) {
}
.keywords > div {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s;
}
.keywords > div:hover {
  opacity: 1;
  transform: scale(1.1);
}
.wholepageofkeywordsearch {
  color: white;
}
#wpks{
  opacity: 1;
  transition: opacity 0.3s;
}
@keyframes scaleupreverse {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.7;
  }
}
#titleks {
  font-size: 30px;
  font-family: harabara;
  letter-spacing: 1px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.boxks {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.boxks > div {
  opacity: 0;
}
.boxthathastbt {
  display: flex;
  height: 30vh;
  align-items: center;
  padding-left: 100px;
  justify-content: space-between;
  padding-right: 100px;
}
.leftrightsym {
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  height: 100px;
  align-items: center;
}
.leftrightsym > svg {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}
.leftrightsym > svg:hover {
  opacity: 1;
}
.pagecountr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: harabara;
  pointer-events: none;
}
.clickthis {
  position: absolute;
}
.mmpage {
  color: white;
}
.mmpage1 {
  display: flex;
}
#mediapagetitle {
  padding: 100px;
  font-size: 50px;
  font-family: harabara;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mediaarraybox {
  display: flex;
  gap: 50px;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
  padding-top: 0px;
}

.CastSection {
  color: white;
  font-family: harabara;
  padding-right: 100px;
}
.castheader {
  font-size: 50px;
  height: 110px;
}
.cardcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
  left: 10%;
}
.cardofcast {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  cursor: pointer;
  border: transparent solid 2px;
  transition: all 0.4s;
  border-radius: 10px;
}
.cardofcast:hover {
  border: white solid 2px;
}
.castname {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 10px;
  cursor: pointer;
  padding-right: 5px;
  
}
.castname > div:nth-child(1) {
  font-size: 14px;
}
.castname > div:nth-child(2) {
  opacity: 0.5;
}
.imgofcast {
  height: 80px;
}

.imgofcast > img {
  height: 100%;
  width: auto;
  border-radius: 6px;
}
.keysandcredits {
  display: flex;
  flex-direction: column;
}
.misvg {
  display: flex;
  align-items: center;
  opacity: 0.7;
  justify-content: center;
}
#moreimgsvg {
  transition: all 0.5s;
}
#moreimgsvg1 {
  transition: all 0.5s;
  padding-left: 1vw;
  cursor: pointer;
}
#moreimgsvg1:hover {
  transform: translateX(10px);
  opacity: 1;
}

#moreimgsvg:hover {
  transform: translateX(10px);
  opacity: 1;
}

.expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.5s;
  transform: scale(2);
}
.videoandcastsection {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 100px;
}
.videocontent {
}
.videoheader {
  font-size: 50px;
  font-family: harabara;
  padding-bottom: 50px;
}
.videocontent > iframe {
}
.iframes {
  display: flex;
  gap: 10px;
  padding-left: 7vw;
}
.castdetes {
  height: 100vh;
  padding-right: 200px;
  padding-left: 100px;
  color: white;
  display: flex;
  gap: 100px;
  font-size: 20px;
  align-items: center;
  opacity: 0;
animation: opa 0.3s both;
}
@keyframes opa {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.castnameandbio {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ptname {
  font-family: harabara;
  letter-spacing: 1px;
}
.ptbio {
  opacity: 0.5;
}

.pptcover {
  position: relative;
}
#dummycover{
  width: 304px;
  height: 454px;

}
#pptprofile {
  position: absolute;
  top: 0px;
  border-radius: 10px;
  border: black 2px solid;
  transition: border 0.5s;
  opacity: 0;
  animation: opa 0.3s both;
}

#pptprofile:hover {
  border: white 2px solid;
}
.moviesacted {
  color: white;
  padding: 100px;
}
.mah1 {
  font-size: 30px;
  font-family: harabara;
}
.cwhole {
  color: white;
  opacity: 1;
  transition: opacity 0.3s;
}
.imgofcast1 {
  height: 300px;
  width: auto;
  border-radius: 20px;
  align-self: flex-start; /* Align the img to the top of the flex container */
  transition: all 0.5s;
}

.arrayofimgcast {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.arrayofimgcastinside {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.divofwhole {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: flex-start;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
.titleofcast {
 width:50% ;
}
#imgofcastbackup {
  height: 300px;
  width: 400px;
}
#novideos {
  font-family: harabara;
  letter-spacing: 1px;
  height: 300px;
  width: 500px;
  display: flex;
  align-items: center;
  border: 1px grey solid;
  border-radius: 10px;
  justify-content: center;
  opacity: 0.5;
}
#remdstext {
  font-family: harabara;
  letter-spacing: 1px;
}
.arr12345 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.arr12345 > :nth-child(2){
  position: relative;
  opacity: 0.5;
  left: -1%;
}
.moviesseriesacted {
  display: flex;
  justify-content: space-between;
}
.wishlistbtms1 {
  color: white;
  font-family: sans-serif;
  display: flex;
  gap: 15px;
  border: 1px solid white;
  width: auto;
  position: relative;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.boxwithx {
  display: flex;
  gap: 100px;
  align-items: center;
}

/* OVERLAY FOR MEDIA IMAGES */
.overlaypart99 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  opacity: 0;
  scale: 0.7;
  backdrop-filter: blur(100px);
  animation: scaleup 0.5s both;
  z-index: 1;
}
#closepart99 {
  font-size: 40px;
  position: absolute;
  left: 95%;
  top: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  z-index: 101;
  background-color: white;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleIn1 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    transform: rotate(-360deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#likepart99 {
  font-size: 40px;
  position: absolute;
  left: 95%;
  top: 15%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  z-index: 101;
  background-color: white;
  cursor: pointer;
}
#likepart99 > svg {
  transition: fill 0.5s;
}
#likepart99:hover > svg {
  fill: red !important;
}
#cp99svg {
  transition: all 0.5s;
}
#closepart99:hover #cp99svg {
  cursor: pointer;
  rotate: 180deg;
}

/* swiper navigation buttons */

.swiper-button-prev::after,
.swiper-button-next::after {
  opacity: 0;
  position: absolute;
}

.swiper-button-prev,
.swiper-button-next {
  transition: all 0.5s;
}
.swiper-button-prev {
  transform: rotate(180deg);
}
.svgbackg {
  background: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  padding: 10px;
}

.swiper-button-prev {
  margin-left: -150px;
}
.swiper-button-next {
  margin-right: -150px;
}

.trenlist:hover .swiper-button-next {
  margin-right: 50px;
}

.trenlist:hover .swiper-button-prev {
  margin-left: 50px;
}

/* swiper navigation buttons end */

/* swiper navigation buttons start for media bt */

.swiper-button-next-media {
  margin-left: -250px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrayofimgsback:hover .swiper-button-next-media {
  margin: 0;
}
.swiper-button-next-media:hover,
.swiper-button-next-video:hover {
  opacity: 1 !important;
}
.iframes > iframe {
  position: relative;
  z-index: 1;
}
.videoandcastsection {
  position: relative;
}
.swiper-button-next-video {
  z-index: 2;
  margin-left: -150px;
  transition: all 0.5s;
  cursor: pointer;
}
.iframes:hover .swiper-button-next-video {
  opacity: 1 !important;
  margin: 50px;
}

/* swiper navigation buttons end media */

.dots {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 90%;
  left: 90%;
  z-index: 1000;
}
.dots > div {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
}
.dots1 {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
}
/* Custom Swiper Pagination Styles */
/* swiper.css */

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  margin-left: 40%;
  margin-bottom: 2%;
  scale: 1.8;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: black;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: black !important;
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1 !important;
}
.containsiframs_credits {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#novideos {
  font-family: sans-serif;
  letter-spacing: 0px;
  padding-left: 10px;
}
.iframes {
  transition: all 0.5s;
}

.iframes > iframe {
  max-width: 30vw;
}
#posternext {
  height: 300px;
  border-radius: 10px;
}
.boxofstuff {
  position: relative;
}
.titleks {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchkeywordinput {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 30px;

  color: white;
  opacity: 1 !important;
}

#svginfinite {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.seasons123swiper {
  margin: 0px !important;
  margin-left: 20px !important;
}
.nameofkeyword {
  display: inline-block; /* Use inline-block to make width fit content */
  display: flex;
  align-self: start;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.gbtinvi {
}
#namembk {
  display: flex;
  align-items: center;
  justify-content: center;
}
#sendtopage {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .mainwrapper > :nth-child(1) {
    height: 50vh;
  }
  #bgimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -20%;
    left: 0;
    opacity: 1;
  }
  .darkcorner {
    position: absolute;
    top: 0%;
    z-index: -1;
    height: 50vh;
    width: 100%;
  
  }
  .darkcorner::before,
  .darkcorner::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;

    width: 100%;
    height: 55vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
    z-index: 1;
  }

  .swiper-pagination {
    position: absolute;
    scale: 1;
    margin: 0px;
    margin-bottom: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: black;
    cursor: pointer;
  }

  .swiper-pagination-bullet {
    background: #282424 !important;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active {
    background: white !important;
  }
  .trnbox {
    padding-top: 0px;
  }
  .trndingpage {
    margin-top: 0px;
    height: 50%;
  }
  #trenheader {
    height: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-family: system-ui;
    padding-left: 10px;
  }
  .swipercardwrapper > :nth-child(1) {
    z-index: -1;
    display: flex;
    padding-left: 10px;
  }
  .trenlist {
    margin-top: 10px;

    width: 100vw;
    z-index: -1;
  }
  #trengallary > div > img {
    height: 75%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.5s;
    z-index: 1;
  }
  .trenlist > .swiper > .swiper-wrapper > .swiper-slide {
    width: auto !important;
  }
  #mdropmenu {
    position: absolute;
    right: 30px;
    top: 10px;
    transition: all 0.5s;
    cursor: pointer;
  }
  #mdropmenu:hover {
    rotate: 180deg;
  }
  #moverlay {
    position: absolute;
    height: 0vh;
    width: 100vw;
    background-color: #282424;
    transition: all 1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #moverlay > div {
    width: 50%;
    box-sizing: border-box;

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    animation: fadein1 1s both;
  }
  #moverlay > div:hover {
    background-color: grey;
  }
  #mbacktohome {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: grey;
    padding: 10px;
    cursor: pointer;
    scale: 0.8;
  }
  @keyframes fadein1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.revsvg {
  display: flex;
  padding-left: 10px;
  position: relative;
  left: -100px;
  align-items: center;
  justify-content: center;
}
.revsectin {
  position: relative;
}
.svgbackgg {
  background: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;

  padding: 10px;
  opacity: 0;
  transition: all 0.5s;
}
.revsvg:hover > .svgbackgg {
  margin-right: -200px;
  opacity: 1;
}

#imginnerofoverlay {
  position: fixed;
  width: auto;
  max-height: 100%;
  z-index: 10;
  opacity: 0;
  animation: opacity123123123 0.3s  both  0.3s;
}

.gimg1 {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  transition: all 0.5s;
  animation: fadein12 1s both;

  cursor: pointer;
  pointer-events: auto;
  z-index: -1;
}
@keyframes fadein12 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gimg {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  transition: all 0.5s;

  cursor: pointer;
  pointer-events: auto;
  animation: fadein12 1s both;
}
.gimg1 {
  height: 300px;
  width: auto;
  object-fit: cover;
  transition: all 0.5s;

  cursor: pointer;
  pointer-events: auto;
  animation: fadein12 1s both;
}
#nextsymbol1 {
  position: absolute;
}
#nextsymbol {
  transition: rotate 0.5s;
}
.ov1box > div {
  opacity: 0;
}
#svgrotate {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: -1;
}
#svgrotate > svg {
  scale: 2;
  animation: rotate 0.5s infinite forwards;
}
@keyframes rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
#quotes-under-svg {
  color: white;
}
.emtpy-display {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.emtpy-display > svg {
  scale: 2.5;
  opacity: 0.5;
}
#textnotfound {
  opacity: 0.5;
}
.notisvgouter{
  position: relative;
}
#notificationsvg {
  cursor: pointer;
  position: relative;
  
  
}
#notificationNumber {
position: absolute;
top: 0%;
left: 90%;

  padding: 0px;
  color: white;

}
#notificationsvg:hover {
}
#notibar {
  height: auto;
  width: 300px;
  opacity: 0;
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  z-index: 10000;
  transition: width 0.5s;
  color: white;
  padding: 0px;
  border-radius: 10px;
  transition: dasda 0.3s;

}
@keyframes dasda {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes opacityanddown {
  0%{
    opacity: 1;
    top: 50%;
    
  }
  100%{
    opacity: 0;
    top: 55%;
  }
}
#h1rm {
  position: relative;
}
.notiInnerbox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: harabara;
  cursor: pointer;
}
.innerboxdate {
  opacity: 0.5;
}
#notiheader {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50%;
  padding: 20px;
  font-family: harabara;
  font-size: 20px;
  letter-spacing: 0px;
}
#rmfromlist {
  transition: all 0.2s;
  border-radius: 15px;
}
#rmfromlist:hover {
  background-color: white;

  fill: black;
  cursor: pointer;
}
#list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  padding: 20px;
}
#closenoti {
  cursor: pointer;
  transition: rotate 0.5s;
  z-index: 1000;
}
#closenoti:hover {
  rotate: 180deg;
}
#alreadywatched {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#alreadywatched::after {
  transition: all 0.5s;
  content: "already watched?";
  white-space: nowrap;

  position: absolute;
  opacity: 0;

  left: 0px;
  height: auto;
  width: auto;
  padding: 10px;

  pointer-events: none;
  border-radius: 10px;
  color: white;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 15px;

}

#alreadywatched:hover::after {
  content: "already watched?";
  position: absolute;
  white-space: nowrap;
  opacity: 1;

  left: 30px;
  padding: 10px;
  border-radius: 10px;

  pointer-events: all;
  background-color: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  color: white;
  background: rgba(255, 213, 213, 0.02);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);

}
#closeinfinite{
  position: absolute;
  top: 5%;
  left: 90%;
  cursor: pointer;
}
#ok{
  color: white;
}
#blackboxiga {
  z-index: 1234234;
  position: absolute;
  top: 30%;
  left: 80%;
  background-color: rgb(0, 0, 0);
  height: 500px !important;
  width: 500px !important;
  display: flex;
  transition: all 0.5s;
  border-radius: 10px;
  opacity: 1;

  animation: pullup12341234 0.5s both ;
}
.adaw {
  color: white;
}
@keyframes pulldown123123 {
  0%{
    top: 23%;
    opacity: 1;
  }
  100%{
    top: 30%;
    opacity: 0;
  }

}
@keyframes pullup12341234 {
  0%{
    top: 30%;
    opacity: 0;
  }
  100%{
    top: 23%;
    opacity: 1;
  }

}

#goingtosend{
position: absolute;
height: 100%;
width: 100%;
  display: flex;
  align-items: center;
justify-content: center;
z-index: -1;
opacity: 0;
}
#goingtosend >svg{
fill: white;
animation: rotate 0.5s infinite forwards;
scale: 1.5;
}
#innerbbimgbox {
  height: 80%;

  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  pointer-events: none;
}

#innerbbimg {
  border-radius: 1px;

  height: 200px;
  width: auto;
  padding: 0px;
  border: 2px solid transparent;
  transition: border 0.5s;
  filter: drop-shadow(0px 0px 1.5px white);
}
#innerbbimg:hover {
  border: 2px solid white;

}
#restbbbox {
  flex: 9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#titleofrevbox {
  font-weight: bold;
}
#textareaofrevbox {
  background-color: black;
  color: white;
  width: 90%;
  height: 50%;
  font-family: "Montserrat";
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;

}
#tagsbbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  display: flex;
  align-items: center;
}
#textareaofrevbox2 {
  background-color: black;
  color: white;
  width: 77%;
  height: 18px !important;
}
#submitbtrevbox2 {
  
  position: relative;
  left: 85%;
  transition: all 0.2s;


}
#submitbtrevbox2 > svg{
  height: 25px;
  width: 25px;
  cursor: pointer;


}
#submitbtrevbox2:hover{left: 86%;}

#checkbox{
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Montserrat';
opacity: 0;
scale: 0.7;
animation: checkboxani 1s both;
}
@keyframes checkboxani {
  0%{
    scale: 0.7;;
    opacity: 0;
  }
  100%{
    scale: 1;
    opacity: 1;
  }
}